#banner {
  --logo-height: 35px;
  --logo-width: 80px;

  @media (min-width: 768px) {
    --logo-height: 45px;
    --logo-width: 100px;
  }

  margin-bottom: var(--space_md);
  margin-left: 0.15rem;

  & a {
    display: inline-block;
    position: relative;
    height: var(--logo-height);
    width: var(--logo-width);
  }
}
