#body-container {
  display: flex;
  flex-grow: 1;
  flex-direction: var(--main-nav-flex-direction);
  gap: var(--main-nav-gap);

  & nav {
    min-width: 200px;
  }

  & main {
    width: 100%;
  }
}

#banner-nav-container {
  display: grid;
  grid-template-columns: 3fr 1fr;

  height: min-content;
  position: var(--main-nav-position);
  top: var(--space-md);

  & nav {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
