#body-container {
  display: flex;
  flex-grow: 1;
  flex-direction: var(--body_flex-direction);
  gap: var(--body_gap);

  & nav {
    min-width: 200px;
  }

  & .break {
    margin-bottom: var(--space_md);
  }

  & main {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    width: 100%;
    z-index: 1;
    background-color: var(--background);
  }
}

#banner-nav-container {
  display: grid;
  grid-template-columns: 3fr 1fr;

  height: min-content;
  position: var(--body_banner-nav-position);
  top: var(--space_lg);

  & nav {
    grid-column-start: 1;
    grid-column-end: 3;
  }
}
