#skills {
  --indent: calc(var(--space_sm) / 2);

  @media (min-width: 768px) {
    --indent: var(--space_sm);
  }

  & > section:first-child {
    padding-top: var(--space_sm);
    /* margin-top: 0; */
  }
}
.category {
  padding-bottom: calc(var(--space_lg) * 1);
  /* margin-left: var(--indent); */
  text-align: center;
}

.category h2 {
  margin-bottom: var(--space_md);
  text-decoration: underline;
  text-decoration-color: var(--color_gray);
  text-underline-offset: 3px;
  /* text-decoration-thickness: 2px; */
  /* background-color: var(--color_lightest-gray); */
}

.category li:last-child {
  margin-bottom: 0;
}

.skill {
  list-style: none;
  margin: calc(var(--space_sm) / 2);
  /* margin-left: var(--indent); */
  text-align: center;
  /* display: inline-block;
  min-width: 200px; */
}
