#skills {
  --indent: calc(var(--space_sm) / 2);

  @media (min-width: 768px) {
    --indent: var(--space_sm);
  }

  & > section:first-child {
    padding-top: var(--space_sm);
  }
}
.category {
  padding-bottom: calc(var(--space_lg) * 2.5);
}

.category h2 {
  margin-bottom: var(--space_md);
}

.category li:last-child {
  margin-bottom: 0;
}

.skill {
  list-style: none;
  margin: calc(var(--space_sm) / 2);
}
