header.header {
  --base_page-header-font: 3.25rem;
  --base_page-header-font-alignment-left: -2px;
  --base_page-header-line-height: normal;
  --base_page-subheader-font: 1.25rem;

  @media (min-width: 768px) {
    --base_page-header-font: 3rem;
    --base_page-header-line-height: 28px;
    --base_page-subheader-font: 1.25rem;
  }

  @media (min-width: 1280px) {
    --base_page-header-font: 3.75rem;
    --base_page-header-line-height: 28px;
    --base_page-subheader-font: 1.25rem;
  }

  margin-bottom: var(--space_md);

  .title + .subtitle {
    margin-top: calc(var(--space_sm) / 2);
    margin-bottom: 0;
  }

  .title {
    font-size: var(--base_page-header-font);
    line-height: var(--base_page-header-line-height);
    margin-left: var(--base_page-header-font-alignment-left);
  }

  .subtitle {
    font-size: var(--base_page-subheader-font);
    color: var(--color_gray);
  }
}
