@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --base_font: 24px;

  --space_sm: 1rem;
  --space_md: 2rem;
  --space_lg: 3rem;

  --body_flex-direction: row;
  --body_gap: var(--space_md);
  --body_banner-nav-position: sticky;

  --nav_toggle-display: none;
  --nav_nav-open-display: block;
  --nav_nav-closed-display: block;

  --works_grid-cols: repeat(3, 1fr);
}

@media (max-width: 1200px) {
  :root {
    --base_font: 20px;

    --space_sm: 0.85rem;
    --space_md: 1.5rem;
    --space_lg: 2.5rem;

    --body_banner-nav-position: sticky;

    --nav_toggle-display: none;
    --nav_nav-open-display: block;
    --nav_nav-closed-display: block;

    --works_grid-cols: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  :root {
    --base_font: 18px;

    --space_sm: 0.75rem;
    --space_md: 1.25rem;
    --space_lg: 2rem;

    --body_flex-direction: column;
    --body_gap: 0px;
    --body_banner-nav-position: block;

    --nav_toggle-display: flex;
    --nav_nav-open-display: block;
    --nav_nav-closed-display: none;

    --works_grid-cols: repeat(1, 1fr);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-karla);
  --font-mono: var(--font-karla);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-karla);
  font-size: var(--base_font);
  height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: var(--space_md);

  * {
    /* outline: 1px solid rgb(233, 233, 233); */
  }
}

/* Headings */

header {
  margin-bottom: var(--space_md);

  h1 + p {
    margin-top: var(--space_sm);
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

/* Text */

p {
  margin-bottom: var(--space_sm);
}

/* Lists */

ul li {
  margin-block: var(--space_md);
  margin-left: var(--space_sm);
  list-style: disc;
}
