@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color_black: #171717;
  --color_white: #ffffff;
  --color_gray: #676767;
  --color_light-gray: #cfcfcf;
  --color_lightest-gray: #efefef;
  --color_primary: #767676;

  --base_font: 18px;
  --base_header-font: 1.75rem;
  --base_nav-font: 1.25rem;
  --base_copy-font: 1rem;

  --space_sm: 1.25rem;
  --space_md: 1.75rem;
  --space_lg: 2.5rem;

  --body_flex-direction: column;
  --body_gap: 0px;
  --body_banner-nav-position: static;

  --nav_toggle-display: flex;
  --nav_nav-open-display: block;
  --nav_nav-closed-display: none;

  --footer_position: static;
}

/* Tablet breakpoint */
@media (min-width: 768px) {
  :root {
    --base_font: 20px;
    --base_header-font: 2rem;
    --base_nav-font: 1.5rem;
    --base_copy-font: 1rem;

    --space_sm: 1.25rem;
    --space_md: 2.5rem;
    --space_lg: 3.5rem;

    --body_flex-direction: row;
    --body_gap: var(--space_md);
    --body_banner-nav-position: sticky;

    --nav_toggle-display: none;
    --nav_nav-open-display: block;
    --nav_nav-closed-display: block;

    --footer_position: sticky;
  }
}

/* Desktop breakpoint */
@media (min-width: 1280px) {
  :root {
    --base_font: 22px;
    --base_header-font: 2rem;
    --base_nav-font: 1.5rem;
    --base_copy-font: 1rem;

    --space_sm: 2rem;
    --space_md: 3rem;
    --space_lg: 4rem;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-karla);
  --font-mono: var(--font-karla);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-karla);
  font-size: var(--base_font);
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: var(--space_lg);
}

/* Headings */

h2 {
  font-size: var(--base_header-font);
}

/* nav */

nav li {
  font-size: var(--base_nav-font);
}

/* Text */

p {
  margin-bottom: var(--space_sm);
}

/* Lists */

ul li {
  margin-block: var(--space_sm);
  margin-left: var(--space_sm);
  list-style: disc;
}
