@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --space-sm: 1rem;
  --space-md: 2rem;
  --space-lg: 3rem;

  --main-nav-flex-direction: row;
  --main-nav-gap: var(--space-md);

  --works-grid-cols: repeat(3, 1fr);
}

@media (max-width: 1200px) {
  :root {
    --works-grid-cols: repeat(2, 1fr);
  }
}

@media (max-width: 768px) {
  :root {
    --main-nav-flex-direction: column;
    --main-nav-gap: 0px;

    --works-grid-cols: repeat(1, 1fr);
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  padding: var(--space-md);

  * {
    outline: 1px solid rgb(233, 233, 233);
  }
}

/* Headings */

header {
  margin-bottom: var(--space-lg);

  h1 + p {
    margin-top: var(--space-sm);
  }
}

h1 {
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

/* Text */

p {
  margin-bottom: var(--space-sm);
}

/* Lists */

ul li {
  margin-block: var(--space-md);
  margin-left: var(--space-sm);
  list-style: disc;
}
