#main-nav-container {
  display: flex;
  flex-grow: 1;
  flex-direction: var(--main-nav-flex-direction);
  gap: var(--main-nav-gap);

  nav {
    min-width: 200px;
  }

  main {
    width: 100%;
  }
}

#banner-nav-container {
  height: min-content;
  position: sticky;
  top: var(--space-md);
}
