#main-nav-container {
  display: flex;
  flex-grow: 1;
  flex-direction: var(--main-nav-flex-direction);
  margin-top: var(--space-md);

  nav {
    width: var(--main-nav-nav-width);
  }

  main {
    width: var(--main-nav-main-width);
    height: 100%;
    padding-left: var(--main-nav-main-gap);
  }
}
