nav#nav {
  & li {
    list-style: none;
    margin-left: 0;

    &:first-child {
      margin-top: 0;
    }
  }

  & a.active {
    text-decoration: underline;
  }
}

button.nav-toggle {
  display: var(--nav_toggle-display);
  justify-content: end;

  &.nav-open {
    line-height: 55px;
    font-size: 3.5rem;
    scale: 1 0.8;
    margin-right: 12px;
  }
  &.nav-closed {
    line-height: 40px;
    font-size: 5rem;
    font-weight: 300;
    margin-right: 10px;
  }
}

nav.nav-open {
  display: var(--nav_nav-open-display);
}

nav.nav-closed {
  display: var(--nav_nav-closed-display);
}
