nav#nav {
  & li {
    list-style: none;
    margin-left: 0;

    &:first-child {
      margin-top: 0;
    }
  }
}

button.nav-toggle {
  display: var(--nav_toggle-display);
}

nav.nav-open {
  display: var(--nav_nav-open-display);
}

nav.nav-closed {
  display: var(--nav_nav-closed-display);
}
